<link rel="import"
      href="bower_components/polymer/polymer.html">

<link rel="import" href="modal.html">


<dom-module id="alcf-modals">
 

  <template>
     <div class="modal fade" id="homeless" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('./assets/images/modal_CP_NCHM.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>Homeless</h2>
           </div>
           <div class="modal-body">
             <div class="row">
               <div class="col-md-5 col-lg-5">
				  <h3>Ways to Volunteer at NCHM</h3>
			      <ul>
			        <li>Help Provide Childcare</li>
			        <li>Assist with Home Supervision</li>
			        <li>Provide Dinner for a Parenting Class</li>
			        <li>Teach a Parenting or Life Skills Class</li>
			        <li>Be a Tutor or Mentor Mom</li>
			        <li>Provide Transportation</li>
			        <li>Yard Work, House Maintenance or Car Repairs</li>
			      </ul>
			  	  <p><a href="sub-index.html">Learn more about this.</a></p>      
			
			      <br><br>
			        
			      <h3>Contact Information</h3>
			      <p>
			        <strong>Joyce del Rosario</strong><br>
			          Executive Director<br>
			          (650) 321-3109<br>
			          <a href="#">joyce@newcreationhome.org</a>
			      </p>
				</div>
			
   	            <div class="col-md-7 col-lg-7">
 			    	<iframe width="500px" height="300px" src="https://www.youtube.com/embed/sm-NjYuEKus" frameborder="0" allowfullscreen></iframe>	          
	            </div>
             </div>		        
          </div>
        </div>
      </div>
    </div>


     <div class="modal fade" id="prison" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header" style="background-image: url('./assets/images/modal_CP_NCHM.jpg'); background-position: center center; background-size: cover; height: 200px; ">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

             <h2>Prison</h2>
           </div>
           <div class="modal-body">
             <div class="row">
               <div class="col-md-5 col-lg-5">
				  <h3>Ways to Volunteer at NCHM</h3>
			      <ul>
			        <li>Help Provide Childcare</li>
			        <li>Assist with Home Supervision</li>
			        <li>Provide Dinner for a Parenting Class</li>
			        <li>Teach a Parenting or Life Skills Class</li>
			        <li>Be a Tutor or Mentor Mom</li>
			        <li>Provide Transportation</li>
			        <li>Yard Work, House Maintenance or Car Repairs</li>
			      </ul>
			  	  <p><a href="sub-index.html">Learn more about this.</a></p>      
			
			      <br><br>
			        
			      <h3>Contact Information</h3>
			      <p>
			        <strong>Joyce del Rosario</strong><br>
			          Executive Director<br>
			          (650) 321-3109<br>
			          <a href="#">joyce@newcreationhome.org</a>
			      </p>
				</div>
			
   	            <div class="col-md-7 col-lg-7">
 			    	<iframe width="500px" height="300px" src="https://www.youtube.com/embed/sm-NjYuEKus" frameborder="0" allowfullscreen></iframe>	          
	            </div>
             </div>		        
          </div>
        </div>
      </div>
    </div>


  </template>



  <script>
    Polymer({
      is: "alcf-modals"
    });
  </script>
  
</dom-module>
